#registre .container-registre {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#registre .container-registre .form-registre {
    width: 500px;
    height: 700px;
    background-color: var(--color-dark-black);
    text-align:center;
    position: relative;
}

#registre .container-registre .form-registre:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#registre .container-registre .form-registre:hover {
    border: none;
}

#registre .container-registre .form-registre:hover:before {
    opacity: 1;
}

#registre .container-registre .form-registre:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#registre .container-registre .form-registre h2 {
    text-align: center;
    padding: 2.5rem 0;
    width: 60%;
    margin: 0 auto;
}

#registre .container-registre .form-registre .form-input {
    width: 100%;
    margin: 0 auto;
    padding: 10px 40px;
    text-align: center;
}

#registre .container-registre .form-registre .form-input strong {
    display: block;
    text-align: left;
    color: var(--color-dark-pink)
}

#registre .container-registre .form-registre .form-input input {
    width: 100%;
    height: 50px;
    color: var(--color-dark-black);
    text-indent: 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

#registre .container-registre .form-registre .btn-registre {
    width: 50%;
    height: 50px;
    color: var(--color-white);
    background-color: var(--color-dark-medium-blue);
    border: none;
    display: block;
    border-radius: 5px;
    margin: 20px auto auto auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
}

#registre .container-registre .form-registre .btn-registre::before {
    content: '';
    border-radius: 10px;
    min-width: calc(250px + 12px);
    min-height: calc(50px + 12px);
    border: 3px solid var(--color-light-medium-blue);
    box-shadow: 0 0 60px rgba(66,140,212,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

#registre .container-registre .form-registre .btn-registre:hover, 
#registre .container-registre .form-registre .btn-registre:focus {
    color: #FFFFFF;
    transform: translateY(-6px);
}

#registre .container-registre .form-registre .btn-registre:hover::before, 
#registre .container-registre .form-registre .btn-registre:focus::before {
    opacity: 1;
}

#registre .container-registre .form-registre .btn-registre::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 10px;
    border: 3px solid var(--color-light-medium-blue);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

#registre .container-registre .form-registre .btn-registre:hover::after, 
#registre .container-registre .form-registre .btn-registre:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
0% {
    width: 30px;
    height: 30px;
    opacity: 1;
}
100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  } 
}

#registre .container-registre .form-registre a {
    display: block;
    padding-top: 2.5rem;
    color: var(--color-dark-gray);
    text-decoration: none;
}

#registre .container-registre .form-registre a span {
    text-decoration: underline;
    padding-left: 4px;
}