:root {
    font-size: 60%;

    --color-dark-blue: #041B2D;
    --color-light-blue: #004E9A;
    --color-light-medium-blue: #6096DF;
    --color-dark-medium-blue: #428CD4;
    --color-light-pink: #FF9CDA;
    --color-dark-pink: #EA4492;
    --color-light-medium-pink: #FAA7B8;
    --color-dark-medium-pink: #FB7B8E;
    --color-light-gray: #DDDDDA;
    --color-dark-gray: #9B9B9B;
    --color-light-black: #333333;
    --color-dark-black: #1A1D20;
    --color-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

#mask-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-black);
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
}

#root {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Roboto;
    color: var(--color-white);
}

.container {
    width: 90vw;
    max-width: 1160px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}